@keyframes loadin {
    from {
        padding-top: 100px;
        opacity: 0;
    }
    to {
        padding-top: 0;
        opacity: 1;
    }
}

* {
    color : white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    animation-name: loadin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

body {
    background-color: #202020;
}

h1 {
    font-weight: 800;
    font-style: italic;
}

h3 {
    font-weight: 600;
    font-style: italic;
}

h4 {
    font-weight: 300;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-bottom: 5px;
}

.hoverable :hover {
    background-color : #1a1d277F;
}