@keyframes loadin {
    from {
        padding-top: 25%;
        opacity: 0;
    }
    to {
        padding-top: 0;
        opacity: 1;
    }
}

* {
    color : white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    animation-name: loadin;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

body {
    background-color: #20202a;
}

h1 {
    font-weight: 800;
    font-style: italic;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 300;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-bottom: 5px;
}

.hoverable :hover {
    background-color : #1a1d277F;
}